In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("train_LZV4RXX.csv")

In [3]:
data

,loan_id,age,education,proof_submitted,loan_amount,asset_cost,no_of_loans,no_of_curr_loans,last_delinq_none,loan_default
0,1,27,1.0,Aadhar,504264,820920,2,2,0,0
1,2,48,1.0,Aadhar,728556,831444,6,2,0,0
2,3,30,2.0,VoterID,642936,826092,0,0,0,1
3,4,28,1.0,Aadhar,746556,930924,0,0,0,0
4,5,29,1.0,Aadhar,1139880,1902000,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
6995,6996,45,2.0,Aadhar,930948,1258344,0,0,0,1
6996,6997,41,2.0,Aadhar,681108,791040,4,4,0,1
6997,6998,47,2.0,Aadhar,627636,720336,35,11,0,1
6998,6999,39,1.0,Aadhar,654708,793860,0,0,0,1
6999,7000,31,1.0,Aadhar,705108,900660,0,0,0,0

# simple liner regression

In [4]:
from sklearn.linear_model import LinearRegression

In [5]:
x=data["loan_amount"].values.reshape(-1,1)
y=data["loan_default"].values

In [6]:
model=LinearRegression().fit(x,y)

In [7]:
r_sq=model.score(x,y)

In [8]:
y_pre=model.predict(x)

In [9]:
r_2=model.score(x,y_pre)

In [10]:
print("r square value:",r_sq)
print("intercept value:",model.intercept_)
print("slope value:",model.coef_)

r square value: 0.013394855142620732
intercept value: 0.14892531298073514
slope value: [3.78492092e-07]

In [11]:
print("precict score:",r_2)

precict score: 1.0

In [12]:
test=pd.read_csv("test_4zJg83n.csv")

In [13]:
x1=test["loan_amount"].values.reshape(-1,1)

In [15]:
test_pre=model.predict(x1)

In [16]:
model.score(x1,test_pre)

1.0

model.score

# Multiple LinearRegression

In [17]:
tx=data[["loan_amount","age","asset_cost","no_of_loans","no_of_curr_loans"]].values.reshape(-1,5)
ty=data["loan_default"].values

In [18]:
model.fit(tx,ty)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
sco=model.score(tx,ty)
t_pre=model.predict(tx)
sco_pre=model.score(tx,t_pre)

In [20]:
print("r square:",sco_pre)
print("intercept value:",model.intercept_)
print(f"slope value:{model.coef_}")
print("slope value:",model.coef_)

r square: 1.0
intercept value: 0.258191848554973
slope value:[ 6.00784653e-07 -1.21204130e-03 -2.11749436e-07 -2.89980708e-04
 -1.32163964e-02]
slope value: [ 6.00784653e-07 -1.21204130e-03 -2.11749436e-07 -2.89980708e-04
 -1.32163964e-02]

In [23]:
x2=test[["loan_amount","age","asset_cost","no_of_loans","no_of_curr_loans"]].values.reshape(-1,5)

In [25]:
mu_pre=model.predict(x2)
model.score(x2,mu_pre)

1.0

# polynomial LinearRegression

In [26]:
import pandas  as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [27]:
tr_x=data["loan_amount"].values.reshape(-1,1)
tr_y=data["loan_default"].values

In [42]:
transformer=PolynomialFeatures(degree=1,include_bias=False)
transformer.fit(tr_x,tr_y)
x_=transformer.transform(tr_x)

In [43]:
model=LinearRegression().fit(x_,tr_y)

In [44]:
r_2=model.score(x_,tr_y)

In [45]:
r_2

0.013394855142620732

In [46]:
a=model.predict(x_)

In [47]:
r2=model.score(tr_x,a)

In [48]:
r2

1.0

In [53]:
tex=test["loan_amount"].values.reshape(-1,1)

In [54]:
x3=transformer.transform(tex)

In [55]:
a1=model.predict(x3)

In [57]:
r4=model.score(tex,a1)

In [58]:
print(r4)

1.0

# polynomial multiple values

In [66]:
x_2=data[["loan_amount","age","asset_cost","no_of_loans","no_of_curr_loans"]].values.reshape(-1,5)

In [67]:
transformer=PolynomialFeatures(degree=1,include_bias=False)
transformer.fit(x_2,tr_y)
x_3=transformer.transform(x_2)

In [68]:
tr_y.shape

(7000,)

In [69]:
x_3.shape

(7000, 5)

In [70]:
model=LinearRegression().fit(x_3,tr_y)

In [71]:
pre=model.predict(x_3)

In [72]:
model.score(x_3,pre)

1.0

In [73]:
x_21=test[["loan_amount","age","asset_cost","no_of_loans","no_of_curr_loans"]].values.reshape(-1,5)

In [74]:
x31=transformer.transform(x_21)

In [75]:
pre1=model.predict(x31)

In [76]:
model.score(x31,pre1)

1.0

#